{% extends 'base.html' %} {% load static %} {% block content %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}

    <h1>Welcome, {{user}} !</h1>

        <div class="p-5">
            <a class="bg-gray-500  text-xl px-3 py-1 rounded-md hover:bg-gray-600 transition-colors duration-300" href="{% url 'update' user.id %}">Update User Profile</a>
            <a class="bg-gray-500  text-xl px-3 py-1 rounded-md hover:bg-gray-600 transition-colors duration-300" href="{% url 'passchnge'%}">Change Password</a>
        </div>


{% endblock %}