{% extends 'base.html' %} {% load static %} {% comment %} {% load humanize %} {%
endcomment %} {% comment %} {% block head_title %} Transaction Report{% endblock
%} {%endcomment%} {% block content %}

<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">Order History</h1>
  <hr />
  <form method="get" action="{% url 'orderhistory' %}">
    <div class="flex justify-center">
      <div
        class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12 mx-2"
      >
        <label for="start_date">From:</label>
        <input
          class="appearance-none w-full outline-none focus:outline-none active:outline-none"
          type="date"
          id="start_date"
          name="start_date"
        />
      </div>

      <div
        class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12"
      >
        <label for="end_date">To:</label>
        <input
          class="appearance-none w-full outline-none focus:outline-none active:outline-none"
          type="date"
          id="end_date"
          name="end_date"
        />
      </div>
      <div
        class="mt-10 pl-3 pr-2 flex justify-between items-center relative w-4/12"
      >
        <button
          class="bg-gray-500 text-xl px-3 py-1 rounded-md hover:bg-gray-600 transition-colors duration-300"
          type="submit"
        >
          Filter
        </button>
      </div>
    </div>
  </form>
  <table
    class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500"
  >
    <thead class="bg-slate-800 text-white text-left">
      <tr class="bg-slate-800 rounded-md py-2 px-4 text-white font-bold">
        <th class="px-4 py-2">Order ID</th>
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for order in object_list %}
      <tr class="border-b dark:border-neutral-500">
        <td class="px-4 py-2">{{ order.id }}</td>
        <td class="px-4 py-2">{{ order.placed_at|date }}</td>
        <td class="px-4 py-2">{{ order.status }}</td>
        <td class="px-4 py-2">
          <a href="#">View details</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
