{% extends 'base.html' %}
{% block content %}
<h1 class='text-center text-5xl font-semibold my-20'>Special Offer</h1>
<div class="max-w-7xl mx-auto grid grid-cols-4">
    {% for product in active_offers %}
   <div class='w-fit bg-gray-300 m-2 rounded-md'>
    <img class='w-[400px] h-[300px] rounded-t-md' src="{{ product.product.image.url }}" alt="{{ product.product.title }}" />
    <h4 class='text-lg font-semibold pl-2 my-1'>{{ product.product.title }}</h4>
    
      <p class="flex flex-row items-center justify-start pl-2 my-1 space-x-3">
        <del class="text-xl font-semibold ">$ {{ product.product.price}}</del>
        <span class="text-lg font-md">$ {{ product.discounted_price }}</span>
      </p>
    <div class='flex justify-center items-center mb-5'>
      <button class="bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded-md transition-colors duration-300" data-product-id="{{ product.pk }}">Add to Cart</button>
    </div>
   </div>
   {% endfor %}
  </div> 


{%endblock%}
